# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.seger
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# PDF and LaTeX build files
*.aux
*.out
*.toc
*.log
*.pdf
*.synctex.gz

# Temporary files
*.bak
*.tmp
*.swp

# Sensitive Data
test.py